extends layout

block content
  h1= title
  - let rows = Number(query.rows)
  - let cols=Number(query.cols)
  - if(!Number.isInteger(rows) || !Number.isInteger(cols)) {
       p Rows and columns should be Integer
  - } else if (rows > 6) {
        p rows can not be greater than 6
  - } else if (rows > 6) {
        p columns can not be greater than 6 
  - } 
  - if((rows>=1 && rows<=6)&&(cols>=1 && cols<=6)){
      table(id="outer" class="table table-responsive")
        - for(let i=0;i<rows;i++){
            tr#middle
                - for(let j=0;j<cols;j++){
                    td= i+j
                - }
        - }
  - }